<div class="container bg-light">
  <div class="row">
    <div class="col-4">
      <ul>
        <p>About</p>
        <p>Disciplines</p>
        <p>Leaderboard</p>
        <p>Results</p>
        <p>Events</p>
        <p></p>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <p>Media</p>
        <p>Partners</p>
        <p>Sponsors</p>
        <p>Advertising</p>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <p>About</p>
        <p>Media</p>
        <p>Volunteer</p>
        <p>Careers</p>
      </ul>
    </div>
  </div>
  <div class="row">
    <p>2018 Copyright, Konstantinos Giantsios, Terms & Conditions</p>
  </div>
</div>
