<%# <h1>WDI Project 2</h1>
%>
<%# width="560" height="315" %>

<%# Featured video & upcoming events %>
<div class="container">
  <h3>Featured Video</h3>
  <div class="row">
    <div class="col-8">
      <iframe width="500" height="300" src="https://www.youtube.com/embed/zejbNWOGA48" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <%- include ../partials/_upcomingevents %>
      </div>
    </div>
    <div class="">
      <p></p>
      <p></p>
    </div>
  </div>

<%# Weekend racing highlights - videos %>
<div class="container">
  <h3>Weekend Racing Highlights</h3>
  <div class="col">
    <div class="row">
      <div class="col-5">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Shiffrin dominates slalom in Kranjska Gora for 40th career win | Highlights</a>
          <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Hirscher achieves historical record in Zagreb Slalom</a>
          <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Andre Myhrer back to victory in Oslo City Event</a>
          <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Pinturault continues Alpine combined winning run in Bormio</a>
        </div>
      </div>
      <div class="col-6">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><iframe width="560" height="315" src="https://www.youtube.com/embed/DK0gqbwjdUY" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
          <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><iframe width="560" height="315" src="https://www.youtube.com/embed/CMHGapbTZKo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
          <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><iframe width="560" height="315" src="https://www.youtube.com/embed/5oPnHF0oLRM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
          <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><iframe width="560" height="315" src="https://www.youtube.com/embed/Evm_S8J-4Tc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <p></p>
    <p></p>
  </div>
</div>
<%# Latest news %>
<div class="container">
  <h3>Latest News</h3>
  <div class="row">
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="/assets/winter-olympics-2018.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/winter-olympics-2018.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/winter-olympics-2018.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/winter-olympics-2018.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <p></p>
    <p></p>
  </div>
</div>

<%# Latest results and ad %>
<div class="container">
  <div class="row">
    <h3>Latest Resutls</h3>
  </div>
  <div class="row">
    <div class="col-7">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Ladies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Men</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      </div>
    </div>
    <div class="col-5">
      <p>Advertising</p>
      <img width="380" src="/assets/winter-olympics-2018.png" alt="">
    </div>
  </div>
  <div class="">
    <p></p>
    <p></p>
  </div>
</div>
