// import scss partials here
body {
  font-family: 'Helvetica', sans-serif;
}
footer{
  margin-top: 50px;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.jumbotron {
  background-image: url('../assets/winter-olympics-2018.png');
}

ul.list-group-flush p{
  margin: 7px 15px 0px 15px;
}


.map {
  background-color: grey;
  height: 100vh;
  width: 100%;
}
